# .coveragerc to control coverage.py

[run]
# Whether to measure branch coverage in addition to statement coverage.
branch = True
# List of file name patterns, the files to leave out of measurement or reporting
omit =
    */__main__.py
    */generated/*

[report]
# Target coverage percentage
#fail_under = 95
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
# Don’t include files in the report that are 100% covered files.
skip_covered = True
